<div class="login-container">
  <div class="app-title">
    <p>What To Watch</p>
  </div>
  <div class="login-centered">
    <div class="login-title">
      <p>Iniciar Sesión</p>
    </div>
    <div class="login-form">

      <div class="login-input">
        <p>Correo Electronico</p>
        <input type="text" placeholder="Introduzca su nombre de usuario" [(ngModel)]="mail">
      </div>
      <div class="login-input">
        <p>Contraseña</p>
        <input type="password" [(ngModel)]="password">
      </div>
      <a href="/authentication/register" class="register-msg">¿No tiene una cuenta? Registrese aqui.</a>
      <p [hidden]="errorMsg.length == 0" class="error-msg">{{errorMsg}}</p>
      <div class="login-input">
        <button class="login-button" (click)="onSubmit()">LOGIN</button>
      </div>
    </div>
  </div>
</div>
<div class="logo-container">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
  </svg>
</div>
